:root {
    --primary-color: #f84747;
    /* light red*/
    --secondary-color: #60e046;
    /*light green*/
    --accent1-color: #4ed7e9;
    /* light blue*/
    --accent2-color: #f7ed61;
    /* light yellow*/
    --heading-font: "Times New Roman", "Georgia" . Serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}