:root {
    --primary-color: #1f2bda;
    /* dark blue*/
    --secondary-color: #5d611f;
    /*dark red*/
    --accent1-color: #f8b3b3;
    /* light red*/
    --accent2-color: #48a016c5;
    /* green*/
    --body-color: #1a1717;
    --heading-color: #c2b5b5;
    --heading-font: "Times New Roman", Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;

}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: var(--heading-font);


}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 16px;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 12px;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 8rem;
    left: 1rem;
    right: 1rem;
    background-color: var(--accent1-color);
    border: 2px solid var(--secondary-color)
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 0 3px;
}

body {
    font-family: var(--body-font);
    color: var(--body-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--heading-color);
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
}

nav a:hover {
    background-color: var(--heading-color);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 48px;
    height: 48px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 32px 16px;
}

.history h2 {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 1rem;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem 1rem;
}

.adventure h2 {
    grid-column: 1 / -1;
    justify-self: center;
}

.adventure figure {
    border: 2px solid var(--accent2-color);
    padding: .5rem;

}

footer {
    background-color: var(--accent1-color);
    color: var(--heading-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

/* Contact page styles*/

.contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2 rem;
}

.contact-us {
    grid-column: 1/ -1;
    text-align: center;
}

.gmap {
    grid-column: 1/-1;
    grid-row: 2;
    border: 0;
    width: 400px;
    height: 400px;
}

/*form formatting begin*/
.contact-form {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    align-items: center;

}

.purpose {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    align-items: center;
}

.purpose p {
    margin: 0;
    padding: 0;
    grid-column: 1;
    justify-self: start;
}

.purpose fieldset {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1.25rem auto;
    gap: 0.5rem 0.1rem;
    border: none;
}

.contact-message {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
}

.subscribe {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.btn {
    background-color: var(--accent2-color);
    color: aliceblue;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(11, 167, 167);
    color: aliceblue;
}

.btn-contact {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    border-radius: 12px;
}

/*form formatting, end*/
.employees {
    grid-column: 1/ span 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.employees figure{
    width: 200px;
    justify-self: center;
}

.employees img{
    width: 100%;
}

.employees h2 {
    grid-column: 1/-1;
    justify-self: center;
}


/*contact us page formatting end*/